*{
    margin: 0;
    font-family: sans-serif;
}
.bi{
    background-image: url(./Image/photo_2026-06-10_17-06-32.jpg);
color: white;
background-repeat: no-repeat;
}
.bitx1{
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding:30px;
    align-items: center;
}
.but1{
    background: #23A6F0;
width: 190px;
height: 52px;
border: none;
color: white;
border-radius: 5px;

}
.bitx2{
    margin-left: 50px;
    margin-top: 150px;
    padding-bottom: 100px;
    margin-bottom: 50px;
}
.bidf{
    display: flex;
    justify-content: space-evenly;
}
.for{
    background-color: white;
    padding: 30px;
border-radius: 10px;
}
input{
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}
.gr{
    color: #747474;
}
.cent{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.bc{
    color: #23A6F0;
}
.bb{
    background-color: #23A6F0;
    display: flex;
    align-items: center;
    gap: 30px;
padding: 10px;
border-radius: 10px;
}
.s1box{
    /* width: 30%; */
    background-color: whitesmoke;    
padding: 15px;
border-radius: 10px;
}
.section1{
    display: flex;
    justify-content: space-evenly;
margin-bottom: 100px;
flex-wrap: wrap;
}
.section2{
    background-color: whitesmoke;
    padding-top: 100px;
}
.s2box{
    background-color: white;
    padding: 20px;
    /* width: 28%; */
    border-radius: 20px;
}
.s2df{
    display:flex;
    justify-content: space-evenly;
}
.cent1{
    padding-top: 100px;
    padding-bottom: 100px;
}
.x9box{
    padding: 20px;
    background-color: white;
    width: 25%;
    border-radius: 20px;
}
.dfx3{
    display: flex;
    justify-content: space-evenly;
}
.predfooter{
    background: #252B42;
color: white;
padding: 50px;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}
.pbox{
    background-color: white;
    padding: 20px;
border-radius: 30px;
}
.pricingx3{
    display:flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 100px;
}
.pbox2{
    background-color: #252B42;
    color:white;
    margin-top: -30px;
}
.startm{
    display:none;
}
.txmm{
    display: none;
}
@media(max-width:510px){
    
     .s2box{
padding: 40px;
margin-top: 20px;   
}


    .sestion1{
        flex-wrap: wrap;
    }

    .s2df{
        flex-wrap: wrap;
    }
.startm{
    display:block;
 }
 .mdf1{
       display:flex;
    justify-content: space-between;
padding: 50px;
 }
 .s1box{
    width: 60%;
    margin-top: 20px;
 }
 .dfx3m{
    display:none;
 }
 .dfx3{
    flex-wrap: wrap;
 }
 .x9box{
    width: 60%;
    margin-top: 20px;
 }
 .predfooter{
    flex-wrap: wrap;
 }
 .mm{
    padding-top: 15px;
 }
 .footer{
    flex-wrap: wrap;
 }
 .wm{
    width:100%;
    margin-top:20px;
 }
 .pricingx3{
    flex-wrap: wrap;
 }
 .pbox{
    margin-top: 50px;
 }
 .txmm{
    display:block;
    margin-top: 20px;
    text-align: center;
 }
 /* .bi{
        /* display:none; */
    /* flex-wrap: wrap; */
 
    .bitx1{
        display: none;
    }
    .bidf{
        flex-wrap: wrap;
    }
    body{
        overflow-x: hidden;
    }
}